* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: roboto, sans-serif;
    /* border: 1px solid red; */
    /* Above is to get an active view of the div border lines (to be used in conjunction with DevTools) */
}

/* GENERAL */

.header, .footer {
    background-color: #1F2937;
}

/* HEADER SECTION*/
    /* Nav Section */


    /* Hero Section */


/* PROD EXAMPLES SECTION */

/* QUOTE SECTION */