/* GENERAL */
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
}

.header, .footer {
    background-color: #1F2937;
}

a, .hero-para {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    font-size: 18px;
    color: #E5E7EB;
    padding: 12px 24px;
    border-radius: 10px;
}

/* HEADER SECTION*/
.header {
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 70%;
    margin: auto;
}
    /* Nav Section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

    /* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 86px 0 86px 0;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex: 1;
}

.left button {
    background-color: #3882F6;
    border: none;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 650px;
    height: 350px;
    object-fit: cover;
    object-position: 30% 70%;
}


/* PROD EXAMPLES SECTION */
.prod-examples {
    margin: auto;
    text-align: center;
}

.pe-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 48px;
}

.card {
    width: 210px;
}

.card img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

/* QUOTE SECTION */

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote-list {
    display: block;
    width: 55%;
    padding: 96px;
    /* margin: auto; */
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding-bottom: 24px;
    color: #1F2937;
}

.author {
    font-weight: 700;
    text-align: end;
}


/* NEWSLETTER SECTION */

.newsletter-container {
    display: flex;
    justify-content: center;
}

.newsletter {
    background-color: #3882F6;
    margin: 96px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    /* gap: 20px; */
    border-radius: 10px;
}

.nl-text {
    margin-left: 10%;
    flex: 3;
}

.nl-header {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

.nl-para {
    color: #E5E7EB;
}

.sub {
    flex: 1;
    margin: 0 10% 0 10%
}

.sub button {
    border: 2px solid #E5E7EB;
    background-color: #3882F6;
    color: #E5E7EB;
}